* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.container {
    position: relative;
    width:100%;
    transform: rotate(-35deg);
    left: -40px;
}

.box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0 ,.2));
    animation: panRight 1s ease-in-out infinite;
}
@keyframes panRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-250px);
    }
}

.cube {
    width: 200px;
    height: 200px;
    background-color: #03e9f4;
    box-shadow: 0 0 10px rgba(3, 233, 244, 1),
    0 0 20px rgba(3, 233, 244, 1),
    0 0 50px rgba(3, 233, 244, 1),
    0 0 100px rgba(3, 233, 244, .5),
    0 0 200px rgba(3, 233, 244, .5);
    transform-origin: bottom right;
    animation: roll 1s ease-in-out infinite;
}
@keyframes roll {
    0% {
        transform: rotate(0) translateY(0);
    }
    60% {
        transform: rotate(90deg) translateY(-50px);
    }
    65% {
        transform: rotate(85deg) translateY(-50px);
    }
    70% {
        transform: rotate(90deg) translateY(-50px);
    }
    75% {
        transform: rotate(87.5deg) translateY(-50px);
    }
    80%, 100% {
        transform: rotate(90deg) translateY(-50px);
    }
}